#main-header{
  font-family:helvetica,sans-serif;
  font-weight:bold;
  text-align:center;
  color:grey;
  font-size :100px;
  margin:10px;;
  background-image:url("headalter.jpg");
  background-position: center;
  background-size: 1800px;

    position: relative;
    margin-top:0;
    width:100%;
    padding:50px;


}
#navbar button{
  border:red solid 2px;
  border-radius: 20px;
  color:black;
  font-family:sans-serif;
  background-color: inherit;
background-image: url("button.jpg");
margin-right: 10px;
font-weight: bolder;


}




body {
  max-width:100%;
  height:auto;
  margin: 0px;

  text-align: center;

  padding:5px;
  background-image: url("backmain.jpg");
  background-position: center;
  




}
#navbar ul {
margin-top:0px;
padding: 0px;
background-image:url("backbutton.jpg");
background-position: center;
line-height: 4em;
width:100%;
}
#navbar li{
  display: inline;
  font-size: 20px;
  padding-right:18px;
  padding-top: 0px;
}
.container{
  box-sizing: border-box;
}
#categories h2{
  text-align:left;
  margin-left:50px;
  box-sizing: border-box;
}
.container #categories{
  font-family: sans-serif;
  font-weight: bold;
  text-align: left;
float:left;
margin-left: 10px;
width:20%;
border:1px solid black;

padding-bottom: 300px;


}
  .container #main{
    float:left;
    margin-left: 0px;
    width:48%;
    margin-right:0px;
    border:1px solid black;
    padding-bottom:400px;
    box-sizing: border-box;

  }
    .container #search{
      display:inline;
      float:left;
      width:30%;
      padding-left: 0px;
      margin-right: 10px;
      margin-left:0px;
      border:1px solid black;
      box-sizing: border-box;
      padding-bottom: 400px;

    }
    #categories ul{

      list-style:lower-greek;

    }
    #categories li{
      font-style: italic;
      font-family:
      padding:10px;

    }
    #categories a{
      color: black;
      padding:40px;


    }
